[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tailwind = "*"
pillow = "*"
python-dotenv = "*"
reportlab = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
firebase-admin = "*"
pyrebase4 = "*"
requests = ">=2.29.0"
requests-toolbelt = "~=0.10.1"

[dev-packages]

[requires]
python_version = "3.8"
