@import url('https://fonts.googleapis.com/css2?family=Combo&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
.logo img {
    border-radius: 50%;
}

a {
    color: #7be5e9;
}
.mini-gallery .qualities p{
    font-size: larger;
    font-weight: 600;
    margin: 10px 0;
}

.field input {
    border: 2px solid #395B64;
    border-radius: 8px;
    color: #2C3333;
}

.hide {
    visibility: hidden;
}

.header-background {
    z-index: -10;
}

.nav {
    z-index: 10;
}

.curtain {
    z-index:-9;
}

.nav-btn {
    display: none;
}

.nav-items.active ul li {
    /* margin: 0 20px; */
}

@media screen and (max-width: 600px) {
    .nav-btn {
        display: flex
    }

    .nav-items ul {
        display: none;
        transition: display .3s ease-in;
    }

    .nav-items.active ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        right: 0;
        top: 100%;
        padding: 0 20px;
        height: 100vh;
        background: #395B64;
        border: 1px solid #395B64;
        width: 50%;

    }

    .nav-items.active ul li {
        margin: 20px 0;
    }
}