@import url('https://fonts.googleapis.com/css2?family=Combo&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
.logo img {
    border-radius: 50%;
}

.mini-gallery .qualities p{
    font-size: larger;
    font-weight: 600;
    margin: 10px 0;
}

.field input {
    border-radius: 8px;
}
