{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <section class="mini-gallery px-10 xl:px-32 h-fit">
        <div class="my-20">
            <h1 class="uppercase text-xl md:text-2xl font-semibold">photo shoots, edits, video shoots and so much more.
            </h1>
        </div>
        <div class="h-fit">
            <div class="flex items-center h-fit justify-start flex-wrap mb-44">
                <div class="h-full mr-2">
                    <img class='h-44 md:h-72' src="{% static 'images/sliders/ShotByGlitchCloud-Lydia-2.jpg' %}" alt="">
                </div>
                <div class="h-full mr-2">
                    <img class='h-44 md:h-72' src="{% static 'images/sliders/DORCAS_0087.jpg' %}" alt="">
                </div>
                <div class="h-full mr-2">
                    <img class='h-44 md:h-72' src="{% static 'images/sliders/BIL_1047.jpg' %}" alt="">
                </div>
                <div class="mt-5 ml-5 group flex flex-col items-center">
                    <div>
                        <a href="/packages"
                            class="font-bold text-2xl animate-pulse hover:text-textSecondary hover:animate-none">Book a
                            shoot</a>
                        <i
                            class="uil uil-arrow-circle-right text-2xl group-hover:translate-x-10 transition duration-300 ease-in ml-2"></i>
                    </div>
                    <div>
                        <a href="/gallery"
                            class="font-bold text-2xl animate-pulse hover:text-textSecondary hover:animate-none">View
                            Gallery</a>
                        <i
                            class="uil uil-arrow-circle-right text-2xl group-hover:translate-x-10 transition duration-300 ease-in ml-2"></i>
                    </div>
                </div>

            </div>
            <div class="my-20 flex">
                <h1 class="uppercase text-xl md:text-2xl font-semibold">affordable Rates . expert edits</h1>
            </div>

            <div class="felx justify-center w-full">
                <div id="carouselExampleCaptions" class="carousel slide w-fit flex justify-center" data-bs-ride="false">
                    <div class="carousel-indicators w-fit">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                            aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                            aria-label="Slide 8"></button>
                    </div>
                    <div class="carousel-inner w-fit">
                        <div class="carousel-item  w-fit">
                            <img class="d-block h-72 md:h-96" src="{% static 'images/sliders/GLI_0482.jpg' %}"
                                alt="First slide">

                        </div>
                        <div class="carousel-item w-fit">
                            <img class="d-block h-72 md:h-96" src="{% static 'images/sliders/GLI_0517.jpg' %}"
                                alt="Second slide">

                        </div>
                        <div class="carousel-item w-fit">
                            <img class="d-block h-72 md:h-96" src="{% static 'images/sliders/DSC_0756.jpg' %}"
                                alt="Second slide">

                        </div>
                        <div class="carousel-item w-fit">
                            <img class="d-block  h-72 md:h-96" src="{% static 'images/sliders/GLI_0331-48.jpg' %}"
                                alt="Second slide">

                        </div>
                        <div class="carousel-item w-fit">
                            <img class="d-block  h-72 md:h-96" src="{% static 'images/sliders/DSC_0763.jpg' %}"
                                alt="Second slide">

                        </div>
                        <div class="carousel-item w-fit active">
                            <img class="d-block  h-72 md:h-96" src="{% static 'images/sliders/GLI_0663.jpg' %}"
                                alt="Second slide">

                        </div>
                        <div class="carousel-item w-fit">
                            <img class="d-block  h-72 md:h-96"
                                src="{% static 'images/sliders/GLITCH CLOUD PHOTOGRAPHY- FAITH 4.jpg' %}"
                                alt="Second slide">

                        </div>
                        <div class="carousel-item w-fit">
                            <img class="d-block  h-72 md:h-96" src="{% static 'images/sliders/JUDY 17.jpg' %}"
                                alt="Second slide">

                        </div>
                    </div>
                    <button class="carousel-control-prev text-black font-bold" type="button"
                        data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-black font-bold" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next text-black font-bold" type="button"
                        data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon text-black font-bold" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="hover:text-textPrimary text-textSecondary font-bold d-md-block flex text-2xl mt-5">
                <a class="hover:text-textPrimary text-textSecondary" href="/gallery">More Pictures</a>
                <i class="fa-solid fa-images"></i>
            </div>
            <div class="flex  hover:text-textSecondary justify-start mt-5 mb-44">
                <div class=" group">
                    <a href="/packages"
                        class="font-bold text-2xl animate-pulse hover:text-textSecondary hover:animate-none">Take a look
                        at our packages</a>
                    <i
                        class="uil uil-arrow-circle-right text-2xl group-hover:translate-x-10 transition duration-300 ease-in ml-2"></i>
                </div>
            </div>
            <div class="my-20">
                <h1 class="uppercase text-xl md:text-2xl font-semibold">We do events too</h1>
            </div>
            <div class="flex flex-wrap items-center justify-center md:justify-start h-fit">

                <div class="event  h-72 md:h-96  mx-2 hover:scale-110 transition duration-300 ease-in">
                    <img class="h-72 md:h-96" src="{% static 'images/sliders/shoot-package1.jpg' %}"
                        alt="shoot-package1">
                </div>
                <div class="event  h-72 md:h-96  mx-2 hover:scale-110 transition duration-300 ease-in">
                    <img class="h-72 md:h-96" src="{% static 'images/sliders/shoot-package2.jpg' %}"
                        alt="shoot-package2">
                </div>
                <div class="event  h-72 md:h-96  mx-2 hover:scale-110 transition duration-300 ease-in">
                    <img class="h-72 md:h-96" src="{% static 'images/sliders/shoot-package3.jpg' %}"
                        alt="shoot-package3">
                </div>

            </div>
        </div>
    </section>




    <section class="about px-10 xl:px-32 my-44 h-fit">
        <h1 class="font-semibold text-2xl my-5 text-textSecondary">About me</h1>
        <div class="text-xl">
            <img class="float-right w-56 md:w-72 mx-3 mb-3" src="{% static 'images/mosh/NDIRO NDIRO KIARIE.jpg' %}"
                alt="mosh">
            <p class="my-2">Meet Brendan, the CEO and founder of Glitch Cloud Photography.</p>
            <p class="my-2">I am a photographer based in Nairobi Kenya from a small surbubian town called Ruiru. I am
                self taught with sincere passion for all things photography, beautiful light, good music, sincere people
                and inspiring spaces.</p>
            <p class="my-2">I believe everyone should have the oportunity to feel beautiful in a photograph so i'll
                guide you through your photography sessions and ease all your 'i'm awkward' fears.</p>
            <p class="my-2">Wheather you are comfortable or shy in from of a camera, my sessions are relaxed with a no
                pressure atmosphere that brings out the best in you.</p>
        </div>
    </section>

    <section class="contact px-10 xl:px-32  mt-20 w-full">
        <h1 class="font-semibold text-2xl my-5 text-textSecondary">Contact</h1>
        <div class="flex flex-col items-start">
            <form action="/dashboard/message/create" class="w-full" method="post">{% csrf_token %}
                {% for field in message_form %}
                <div class="field flex flex-col font-bold text-xl my-2">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <button
                    class="bg-backgroundSecondary hover:scale-100 transition duration-300 ease-in-out p-2 my-5 rounded-lg"
                    type="submit">Done</button>
            </form>
            <div>
                <p>Call or WhatsApp</p>
                <p class="text-textSecondary">+254747389344</p>
            </div>
            <div class="flex justify-evenly w-full py-10">
                <a href="#"><i
                        class="fa-brands fa-instagram text-3xl hover:animate-bounce hover:text-textSecondary hover:scale-110 transition duration-300 ease-in"></i></a>
                <a href="#"><i
                        class="fa-brands fa-twitter text-3xl hover:animate-bounce hover:text-textSecondary hover:scale-110 transition duration-300 ease-in"></i></a>
                <a href="#"><i
                        class="fa-brands fa-discord text-3xl hover:animate-bounce hover:text-textSecondary hover:scale-110 transition duration-300 ease-in"></i></a>
            </div>

        </div>
    </section>
</div>

{% endblock %}