{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <header class="text-textPrimary flex justify-between items-center py-16 px-10 md:px-32 xl:px-64">
        <div class="logo flex flex-col items-center italic">
            <img class="w-24 sm:w-32 md:w-44" src="{% static 'images/logo/logo.jpg' %}" alt="logo">
            <h1>Mosh Photography</h1>
        </div>

        <div class="nav-items w-1/2">
            <ul class="flex justify-evenly">
                <li class="text-xl ml-2 hover:text-textSecondary transition duration-300 ease-in cursor-pointer">Home
                </li>
                <li class="text-xl ml-2 hover:text-textSecondary transition duration-300 ease-in cursor-pointer">
                    Packages</li>
                <li class="text-xl ml-2 hover:text-textSecondary transition duration-300 ease-in cursor-pointer">Gallery
                </li>
                <li class="text-xl ml-2 hover:text-textSecondary transition duration-300 ease-in cursor-pointer">About
                </li>
                <li class="text-xl ml-2 hover:text-textSecondary transition duration-300 ease-in cursor-pointer">Contact
                </li>
            </ul>
        </div>
    </header>

    <section class="mini-gallery px-10 md:px-28 xl:px-32">
        
        <div class="flex flex-col items-center md:flex-row md:justify-evenly w-full"> 
            <div id="carouselExampleSlidesOnly1" class="carousel slide w-full md:w-1/2 " data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'images/sliders/cool-cat.jpg' %}"
                            alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/sliders/cool-cat-3.jpeg' %}"
                            alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/sliders/cool-cat2.jpg' %}"
                            alt="Third slide">
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center mt-10">
                <p>Excelent camera work</p>
                <p>Perfect editing</p>
            </div>
        </div> 

        <div class=" flex flex-col items-center md:flex-row md:justify-evenly w-full">
            <div class=" flex flex-col items-center my-5">
                <p>Afordable rates</p>
                <p>Timely work</p>
            </div>
            <div id="carouselExampleSlidesOnly2" class="carousel slide w-full  md:w-1/2" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'images/sliders/cool-cat-3.jpeg' %}"
                            alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/sliders/cool-cat.jpg' %}"
                            alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/sliders/cool-cat2.jpg' %}"
                            alt="Third slide">
                    </div>
                </div>
            </div>
            
        </div>

        <div class=" flex flex-col items-center mt-10 md:mt-0 md:flex-row md:justify-evenly w-full">
            <div id="carouselExampleSlidesOnly3" class="carousel slide w-full md:w-1/2" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'images/sliders/cool-cat.jpg' %}"
                            alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/sliders/cool-cat2.jpg' %}"
                            alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/sliders/cool-cat-3.jpeg' %}"
                            alt="Third slide">
                    </div>
                </div>
            </div>
            <div class=" flex flex-col items-center mt-10">
                <p>Always striving to deliver</p>
                <p>Book a shoot now</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}