{% extends 'base.html' %}


{% block content %}

<section class="packages min-h-screen py-10 font-quicksand">
    {% include 'wedding_package.html' %}
    <div class="flex group hover:text-textSecondary justify-center">
        <a href="#" class="font-bold text-2xl animate-pulse hover:text-textSecondary hover:animate-none">Book a
            wedding shoot</a>
        <i class="uil uil-arrow-circle-right text-2xl group-hover:translate-x-10 transition duration-300 ease-in ml-2"></i>
    </div>
</section>


{% endblock %}