{% extends 'base.html' %}


{% block content %}

<section class="packages min-h-screen py-10 font-quicksand">
    <div>
        {% include 'wedding_package.html' %}
        <div class="flex group hover:text-textSecondary justify-center">
            <a href="/book/wedding"
                class="font-bold text-2xl animate-pulse hover:text-textSecondary hover:animate-none">Book a
                wedding shoot</a>
            <i
                class="uil uil-arrow-circle-right text-2xl group-hover:translate-x-10 transition duration-300 ease-in ml-2"></i>
        </div>
    </div>
    <div class="mt-20">
        {% include 'portrait_package.html' %}
        <div class="flex group hover:text-textSecondary justify-center">
            <a href="/book/portrait"
                class="font-bold text-2xl animate-pulse hover:text-textSecondary hover:animate-none">Book a
                portrait shoot</a>
            <i
                class="uil uil-arrow-circle-right text-2xl group-hover:translate-x-10 transition duration-300 ease-in ml-2"></i>
        </div>
    </div>
    <div class="mt-20">
        {% include 'ruracio_package.html' %}
        <div class="flex group hover:text-textSecondary justify-center">
            <a href="/book/ruracio" class="font-bold text-2xl animate-pulse hover:text-textSecondary hover:animate-none">Book a
                ruracio shoot</a>
            <i class="uil uil-arrow-circle-right text-2xl group-hover:translate-x-10 transition duration-300 ease-in ml-2"></i>
        </div>
    </div>
</section>


{% endblock %}