{% extends 'base.html' %}


{% block content %}

<section class="packages min-h-screen py-10 font-quicksand">
    {% include 'shoot_detail.html' %}
    <div class="mt-10">
        <form action="#" method="POST">{% csrf_token %}
            <p>A deposit of ksh 1000 is required to book a shoot.</p>
            <div class="field flex flex-col">
                <label class="mb-2" for="phone">Please confirm your m-pesa number below.</label>
                <input name="phone" class="md:w-1/2 xl:w-1/4" type="text" value="{{shoot.client.phone}}">
            </div>
            <div class="mt-5">
                <button
                    class="py-2 px-4 bg-backgroundSecondary ml-3 rounded-lg hover:scale-110 transition duration-300 ease-out"
                    type="submit">Pay via m-pesa</button>
            </div>
        </form>
    </div>
</section>


{% endblock %}