<div class="w-full">
    <h1 class="text-textSecondary font-semibold text-xl">Client Details</h1>
    {% for field in client_form %}
    <div class="field flex flex-col text-textPrimary text-xl my-2">
        <div class="text-red-800">{{ field.errors }}</div>
        {% if field.help_text %}
        <p class="help text-green-500">{{ field.help_text|safe }}</p>
        {% endif %}
        {{ field.label_tag }} {{ field }}
        
    </div>
    {% endfor %}
</div>
<div class="mt-5 w-full">
    <h1 class="text-textSecondary font-semibold text-xl">Shoot Details</h1>
    {% for field in shoot_form %}
    <div class="field flex flex-col text-textPrimary text-xl my-2">
        <div class="text-sm text-red-500">{{ field.errors }}</div>
        {% if field.help_text %}
        <p class="text-sm text-green-500">{{ field.help_text|safe }}</p>
        {% endif %}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
</div>