<div class="ruracio w-full">
    <h1 class="text-3xl text-textSecondary my-5 font-dancingScript font-bold">Ruracio</h1>
    <div class="flex flex-col items-start md:flex-row md:items-start md:justify-center w-full">
        <div class="flex flex-col items-start my-5 px-5">
            <h2 class="text-2xl">Photography</h2>
            <div>
                <ul class="list-disc">
                    <li>1 Photographer</li>
                    <li>Full event photography</li>
                    <li>A3 Photomount (1 piece)</li>
                    <li>A4 Photobook (20 pages)</li>
                </ul>
                <div class="mt-5">
                    <p class="text-textSecondary">ksh 11000</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-start my-5 px-5">
            <h2 class="text-2xl">Videography</h2>
            <div>
                <ul class="list-disc">
                    <li>1 videographer</li>
                    <li>Drone pilot</li>
                    <li>Full event video coverage</li>
                    <li>1 YouTube teaser</li>
                    <li>Flash drive with photos and edited video</li>
                    <li>Drone services</li>
                </ul>
                <div class="mt-5">
                    <p class="text-textSecondary">ksh 22000</p>
                </div>
            </div>
        </div>
    </div>
</div>