{% extends 'base.html' %}


{% block content %}
<section class="terms-and-conditions px-10 xl:px-32 pt-20">
    <h1 class="text-2xl mb-5 ">TERMS AND CONDITIONS</h1>

    <p class="my-6">In the following terms & conditions “the photographer” shall mean Brendan Mumbu trading as Glitch Cloud
        Photography.
        These terms & conditions cannot be varied in any way by the clients unless such conditions are expressly agreed
        by the
        photographer in writing.
    </p>

    <div class="mb-3">
        <h2 class="text-xl">1. COPYRIGHT</h2>
        <ul class="list-disk">
            <li>The copyright Designs and Patents Acts assign the copyright of the images to the photographer.</li>
        </ul>
    </div>
    <div class="mb-3">
        <h2 class="text-xl">2. DISPLAY</h2>
        <ul class="list-disk">
            <li>The client(s) hereby allow(s) the photographer to display any photograph covered by this contract and to
                generally promote the business in advertising, brochures, magazine articles, websites, sample albums
                etc; unless otherwise
                requested by the client
            </li>
        </ul>
    </div>
    <div class="mb-3">
        <h2 class="text-xl">3. CREATIVE LICENSE, COVERAGE AND REPRODUCTION.</h2>
        <ul class="list-disk">
            <li>Photographs taken during the course of the event will be at the discretion of the photographer although
                every effort
                will be made to comply with the clients requirements.</li>
            <li>Special requests are not binding instruction, although every effort is made to comply with the client’s
                wishes. The
                Photographer/s will do their best to honour the requested photographs but do not undertake to guarantee
                any specific
                picture nor incorporate any specific background, location or group arrangements due to changes in
                weather an the
                availability and willingness of subjects.</li>
            <li>For a booking involving events E.g. A church ceremony or at certain venues, the photographer’s movements
                are sometimes
                restricted by the official in charge. The area from which the photographer is able to cover the ceremony
                may not be the
                photographer’s choice and the photographer cannot accept responsibility for any obstructed view should
                this be the case.</li>
            <li>Due to a variety of lighting conditions and the limitations of digital sensors, some colours may alter
                throughout a set
                of photographs.</li>
            <li>Although all equipment is checked regularly and reasonable steps are taken to ensure backup equipment is
                available, the
                photographer will not be responsible for photographs that are not produced due to technical failure.
            </li>
        </ul>
    </div>
    <div class="mb-3">
        <h2 class="text-xl">4. PAYMENT</h2>
        <ul class="list-disk">
            <li>A non-refundable booking fee of Kshs. 2000 for private and potrait shoots, will confirm your booking, as
                well as full
                acceptance of the terms and conditions as published on the photographer’s website. The booking fee will
                be deducted from
                the cost of the client’s chosen package when calculating the final balance due.</li>
            <li>Payment in full of the remaining balance will be due two days after the shoot day for private and
                private shoots. For
                events payment in full of the remaining balance will be due after the shoot.</li>
            <li>Additional goods ordered must be paid for in full at the time of ordering.</li>
            <li>Titles to all goods remains with the photographer until paid for in full by the client(s)</li>
        </ul>
    </div>
    <div class="mb-3">
        <h2 class="text-xl">5. FORCE MAJEURE</h2>
        <ul class="list-disk">
            <li>In the very unlikely events of cancellation by the photographer or of total photographic failure,
                liability shall be
                limited to a full refund of any fees paid.</li>
            <li>The photographer will endeavour to put the client(s) in touch with another photographer in the event
                they are unable to
                attend on the wedding date due to any cause beyond their reasonable control e.g. sudden illness, injury,
                victim of
                crime, flooding, traffic conditions, vehicle breakdown etc.</li>
        </ul>
    </div>
    <div class="mb-3">
        <h2 class="text-xl">6. DIGITAL NEGATIVE FILES</h2>
        <ul class="list-disk">
            <li>All digital negatives (computer files) remain the property of the photographer. All digital wedding
                packages include a
                copy of the edited digital negatives to the client(s) for their own non-commercial use.</li>
            <li>Should the digital negative files be lost, damaged of destroyed for the reasons beyond control, the
                photographers
                liability shall be limited to a full refund of any deposits and fees paid, but shall not include a
                refund for any goods
                already received.</li>
        </ul>
    </div>
    <div class="mb-3">
        <h2 class="text-xl">7. ON THE DAY</h2>
        <ul class="list-disk">
            <li>The photographer will be the sole professional (still) photographer at the venues specified. The
                photographer does
                however positively encourage family, friends and other guests to take photographs throughout the day.
            </li>
            <li>The photographer will not take photos during the wedding breakfast and will use this time to take a
                break. A meal is not
                a requirement, however one would be greatly appreciated.</li>
            <li>For weddings, the photographer will stay to photograph beyond the first dance stay until approximately
                9pm. Any
                photography following this time will be at the discretion of the photographer or if expressly agreed in
                writing
                beforehand.</li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="mb-3">
        <h2 class="text-xl">8. PERSONAL ACCIDENT</h2>
        <ul class="list-disk">
            <li>Any directions issued to clients, their guests or employees during a photographic shoot are deemed to be
                at said persons
                own risk. The photographer cannot be held responsible for any personal accidents during a photoshoot
                out.</li>
        </ul>
    </div>
    <div class="mb-3">
        <h2 class="text-xl">10. DELIVERY</h2>
        <ul class="list-disk">
            <li>The photographer will endeavour to deliver digital negative files as quickly as possible. However this
                could take up to
                3 days for private and potrait shoots, and 1-2 weeks for events during busy periods.</li>
        </ul>
    </div>
</section>

{% endblock %}