{% extends 'base.html' %}


{% block content %}

<section class="dashboard min-h-screen">
    <div class="flex justify-center w-full mt-10">
        <ul class="flex justify-evenly md:w-1/2">
            <li><a class="hover:text-textSecondary underline font-bold hover:underline" href="#">Dashboard</a></li>
            <li><a class="hover:text-textSecondary font-bold hover:underline" href="#">Shoots</a></li>
            <li><a class="hover:text-textSecondary font-bold hover:underline" href="#">Messages</a></li>
            <li><a class="hover:text-textSecondary font-bold hover:underline" href="#">Transactions</a></li>
        </ul>
    </div>
</section>

{% endblock %}