{% extends 'base.html' %}


{% block content %}

<section class="dashboard">
    <div class="flex flex-col items-center mt-20 ">
        <a href="/dashboard/shoots" class="w-2/3">
            <div
                class="bg-slate-800 hover:bg-slate-700 transition duration-300 ease-in-out flex flex-col justify-center h-fit mb-5 mx-2 px-4 py-4 text-white rounded-lg sales">
                <h1 class="font-bold text-2xl">Shoots summary</h1>
                <div class="flex mt-9">
                    <div class="">
                        <i class="text-2xl uil uil-money-bill"></i>
                        <p><span class="font-bold text-2xl">{{shoot_data.week_shoots}}</span> shoots this week</p>

                    </div>
                    <div class="ml-10 xl:ml-52">
                        <i class="text-2xl uil uil-money-bill"></i>
                        <p><span class="font-bold text-2xl">{{shoot_data.month_shoots}}</span> shoots this month</p>

                    </div>
                </div>
            </div>
        </a>
        <div class="tabs flex flex-col sm:flex-row flex-wrap sm:items-center sm:justify-center">
            <a href="/dashboard/messages">
                <div
                    class="bg-slate-800 hover:bg-slate-700 transition duration-300 ease-in-out flex flex-col justify-center sm:w-64 sm:h-28 h-fit mb-5 mx-2 px-4 py-4 text-white rounded-lg messages">
                    {% if message_data.unread_messages > 0 %}
                    <i class="text-2xl uil uil-comment-alt-message animate-bounce"></i>
                    {% else %}
                    <i class="text-2xl uil uil-comment-alt-message"></i>
                    {% endif %}
                    <p><span class="font-bold text-2xl">{{message_data.unread_messages}}</span> new messages</p>
                </div>
            </a>
            <a href="/dashboard/clients">
                <div
                    class="bg-slate-800 hover:bg-slate-700 transition duration-300 ease-in-out flex flex-col justify-center sm:w-64 sm:h-28 h-fit mb-5 mx-2 px-4 py-4 text-white rounded-lg customers">
                    <i class="text-2xl uil uil-user-arrows"></i>
                    <p><span class="font-bold text-2xl">{{clients}}</span> clients</p>
                </div>
            </a>
            <a href="/dashboard/gallery">
                <div
                    class="bg-slate-800 hover:bg-slate-700 transition duration-300 ease-in-out flex flex-col justify-center sm:w-64 sm:h-28 h-fit mb-5 mx-2 px-4 py-4 text-white rounded-lg customers">
                    <i class="fa-solid fa-images"></i>
                    <p>Gallery ({{gallery}} photos)</p>
                </div>
            </a>
            <div
                class="bg-slate-800 hover:bg-slate-700 transition duration-300 ease-in-out flex flex-col justify-center sm:w-64 sm:h-28 h-fit mb-5 mx-2 px-4 py-4 text-white rounded-lg">
                <p><span class="font-bold text-2xl">{{packages}}</span> packages</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}