{% extends 'base.html' %}

{% block content %}
<section class="messages min-h-screen">
    <div class="flex flex-col items-center mt-10 text-xl">
        <div class="flex justify-start">
            <h1 class="font-bold text-2xl">Messages</h1>
        </div>
        {% if not client_messages %}
        <p>No messages.</p>
        {% else %}
        <div class="w-full md:w-1/2">
            {% for message in client_messages %}
            <a href="/dashboard/message/{{message.id}}" class="hover:text-black">
                <div {% if message.read %} class="rounded-lg my-4 p-2" {% else %}
                    class="border-2 border-blue-500 hover:border transition duration-300 ease-in-out rounded-lg my-4 p-2" {% endif %}>
                    <div class="flex justify-between">
                        <p>{{message.name}}</p>
                        <p>{{message.date}}</p>
                    </div>
                    <div>
                        <p class="truncate">{{message.message}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% include 'paginator.html' %}
        {% endif %}
    </div>
</section>
{% endblock %}