{% extends 'base.html' %}

{% block content %}
<section class="shoot-detail min-h-screen justify-evenly  mt-20">
    <div class="flex items-center justify-center flex-wrap w-full">
        {% if shoot.booked %}
        <div class="flex items-center mr-2">
            <p>This shoot has been booked</p><i class="fa-solid fa-thumbs-up text-xl text-green-500"></i>
        </div>
        {% else %}
        <div class="flex items-center mr-2">
            <p>This shoot has not been booked</p><i class="fa-solid fa-circle-exclamation text-xl text-yellow-400"></i>
        </div>
        {% endif %}
        <div class="flex items-center">
            {% csrf_token %}
            <label for="complete">Complete</label>
            <input id="complete" type="checkbox" value="complete" {% if shoot.complete %} checked {% endif %}>
        </div>
    </div>
    <div class="flex justify-center">
        {% include 'shoot_detail.html' %}
        <input type="hidden" value="{{shoot.id}}" id="shoot_id">
    </div>

</section>
<script>
    const completeBtn = document.getElementById('complete')
    console.log(completeBtn.checked)
    const completeEndpoint = '/dashboard/shoot/complete'
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
    console.log(csrf_token)

    completeBtn.addEventListener('click', () => {
        const complete = completeBtn.checked
        const shoot_id = parseInt(document.getElementById('shoot_id').value)
        const data = {
            complete,
            shoot_id
        }
        fetch(completeEndpoint, {
            method: 'POST',
            // credentials: "same-origin",
            headers: {
                'Content-Type': 'application/json',
                // "Accept": "application/json",
                'X-CSRFToken': csrf_token,

            },
            body: JSON.stringify(data)
        }).then(res => res.json())
            .then(data => console.log(data))
            .catch(error => {
                console.log('Error: ', error)
            })
    })
</script>
{% endblock %}